.contextmenu_wrapper {
    visibility: hidden;
    position: absolute;
    width: 10rem;
    height: 12rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

.contextmenu_menu_list {
    padding: 0rem 1rem 0rem 1rem;
}

.contextmenu_content .item {
    list-style: none;
    font-size: 1rem;
    height: 2.4rem;
    display: flex;
    width: 90%;
    cursor: pointer;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0 0.3125rem 0 0.625rem;
    transition: background, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contextmenu_content .item:hover {
    background: #f2f2f2;
    transform: scale(1.05);
}

.contextmenu_content .item:active {
    background: #f2f2f2;
    transform: scale(1.0);
}

.contextmenu_content .item span {
    margin-left: 8px;
    font-size: 0.8rem;
}